body{
    position: fixed;
}
table{
    position: relative;
    border: 5px solid black;
    left: 80px;
    top: 20px;
    height: 300px;
    width: 300px;
    border-collapse: collapse;
    border-color:black;
    background-color: peru;
}
th{
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    border: 2px solid black;
    padding-left: 20px; 
}